/* _content/TicTacToeUI/GameUI.razor.rz.scp.css */
.centering[b-zxjwyhvhtm] {
    display: flex;
    justify-content: center;
    --width: 80vw;
    --height: 80vh;
}

.gameBoard[b-zxjwyhvhtm] {
    display: grid;
    --boardSideSize: min(var(--width), var(--height));
    --tileSideSize: calc(var(--boardSideSize) / 3);
    grid-auto-flow: row;
    grid-template-columns: repeat(3, var(--tileSideSize));
    grid-template-rows: repeat(3, var(--tileSideSize));
}

.gameButton[b-zxjwyhvhtm] {
    color: #d7d7d7;
    background-image: linear-gradient(rgb(5, 39, 103), rgb(5, 39, 123));
    border-radius: 4px;
    border-color: rgb(5, 39, 153);
    transition: 0.3s;
}

.gameButton:hover[b-zxjwyhvhtm] {
    opacity: 0.95;
}

.buttonHighlight[b-zxjwyhvhtm] {
    box-shadow: 0px 0px 20px rgb(255 255 255);
}

.textHighlight[b-zxjwyhvhtm] {
    text-shadow: 0px 0px 20px rgb(255 255 255);
}

.boardSquare[b-zxjwyhvhtm] {
    font-size: var(--tileSideSize);
    line-height: 1;
}

.gameOverOverlay[b-zxjwyhvhtm] {
    grid-row: 1 / 4;
    grid-column: 1 / 4;
    background-color: rgba(0, 0, 0, 0.60);
}

.gameOverControls[b-zxjwyhvhtm] {
    grid-area: 2 / 2;
    display: grid;
    grid-template-columns: 1fr 80% 1fr;
    grid-template-rows: 1fr 80% 1fr;
}

.gameOverTitle[b-zxjwyhvhtm] {
    width: 100%;
    text-align: center;
    color: white;
}

.playAgainButton[b-zxjwyhvhtm] {
    width: 100%;
}
