@page "/chess"

<PageTitle>Chess</PageTitle>

<h1>Chess</h1>

<ChessUI.GameUI></ChessUI.GameUI>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
