@page "/tictactoe"

<PageTitle>Tic tac toe</PageTitle>

<h1>Tic tac toe</h1>

<TicTacToeUI.GameUI></TicTacToeUI.GameUI>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
